html {
  font-family: Georgia, serif;
  color: #fff;
}

.content {
  background-color: #495562;
}

.btn {
  color: #fff;
}

.btn-ghost {
  border-color: #97a49b;
}

.btn-ghost:hover {
  background-color: #fff;
  border-color: #fff;
}

@media only screen and (min-width: 60em) {

.img-flex {
  position: relative;
}

.content {
  position: absolute;
  top: 12em;
  background-image: linear-gradient(to top, rgba(73, 85, 98, .9), rgba(28, 14, 0, 0));
  width: 100%;
  background-color: transparent;
}

.btn-ghost {
  border-color: #efefef;
}

header {
  max-height: 500px;
}

}
